<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
        <link rel="icon" href="../static/images/logo/logo.png">
    </head>
    <body>

    <header class="topbar">

        <!-- Menu Button -->
        <button class="menu-btn" onclick="toggleMenu()">☰</button>

        <div id="sidebar" class="sidebar">
            <div id="sidebar-page">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Account</a>
                <a href="#">Logout</a>
            </div>
            <div id="sidebar-blank" onclick="toggleMenu()">
                <div id="x">×</div>
            </div>
        </div>

        <div id="logo"></div>

        <nav class="nav-links">

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Search Products..." class="search-input">
            </form>

            <a href="/">Home</a>
            <a href="#">Shop</a>
            <a href="/cart">Cart</a>
            <a href="#">Orders</a>

            {% if current_user %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login/Register</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </body>
</html>