{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="auth-container">
        <div id="cart" class="cart auth-form">
            <h2>Cart</h2>
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="card">

                        <h2>{{ item.title }}</h2>

                        <p>{{ description }}</p>

                        <p>Item id:{{ item.id }}</p>
                        
                        <p>Product varient:{{ item.product_variant_id }}</p>

                        <p>Unit Price:${{ item.price }}</p>

                        <p>Quantity:{{ item.quantity }}</p>

                    </div>
                {% endfor %}
            {% else %}
                    <div class="card">
                        <h2>Empty</h2>
                    </div>
            {% endif %}
        </div>
    </div>    
{% endblock %}