<style>
    .content_container{
        display:flex;
        flex-direction:column;
    }

    .info{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        gap:10px;
    }

    .remove_btn{
        width:100%;
        display:flex;
        justify-content:end
    }

</style>
{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="auth-container">
        <div id="cart" class="cart auth-form">
            <h2>Cart</h2>
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="card">
                        <div class="content_container">
                            <div class="title">
                                <h3>{{ item.title }}</h3>
                            </div>
                            
                            <div class="info">
                                <p>{{ item.description }}</p>

                                <p>Item id: {{ item.id }}</p>
                                
                                <p>Product varient: {{ item.product_variant_id }}</p>

                                <!-- <p>Unit Price: ${{ item.price }}</p> -->

                                <p>Quantity:</p>
                                <form action="/update_cart_quantity" method="post">
                                    <input type="hidden" name="id" value="{{ item.cart_item_id }}">
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.stock }}" onchange="this.form.submit()">
                                </form>

                                <p>Price: ${{ item.price * item.quantity}}</p>

                                <form action="/remove_cart_item" class="remove_btn" method="post">
                                    <input type="hidden" name="id" value="{{ item.cart_item_id }}">
                                    <button type="submit">×</button>
                                </form>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="card">
                    <h3>Total ${{ cart_Total }}</h3>
                </div>
            {% else %}
                    <div class="card">
                        <h2>Empty</h2>
                    </div>
            {% endif %}
        </div>
    </div>    
{% endblock %}