* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --accent-color: rgb(171, 29, 38);

    --primary-text-color: black;
    --secondary-text-color: black;

    --border-radius: 8px;

    --topbar-height: 60px;

    --font-main: Arial, sans-serif;
    --font-second: Arial, sans-serif;
}

/* Start Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--topbar-height);
    background: #111;
    color: white;
    padding: 0 1rem;
}

/* Start Menu Button */
.menu-btn {
    top: 15px;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--accent-color);
    text-align:center;
}

/* Sidebar */
.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: -250px; /* Hides menu by default */
    width: 250px;
    height: 100vh;
    /* padding-top: var(--topbar-height); */
    transition: 0.3s;
}

/* Open Menu */
.sidebar.active {
    left: 0;
    width: 100%;
}

#sidebar-page {
    width: 80%;
    height: 100%;
    background-color: grey;
}

#sidebar-blank {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: rgba(0,0,0,0.85)
}

#x {
    font-size: 3rem;
    /* font-weight: 100; */
    margin-top: 2rem;
}

#x:hover {
    cursor: pointer;
}

/* End Menu Button */

#logo {
    height: var(--topbar-height);
    width: var(--topbar-height);
    background-image: url("../images/logo/logo.png");
    background-position: center;
    background-size: cover;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
.NavIcons{
    display: inline;
    padding: 3px;
    border: 1px solid white;
    border-radius: 15px;
    height: 40px;
    width: 40px;
    background-color:white;
    }
/* End Top Bar */