* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --accent-color: red;

    --primary-text-color: black;
    --secondary-text-color: black;

    --border-radius: 8px;

    --topbar-height: 60px;

    --font-main: Arial, sans-serif;
    --font-second: Arial, sans-serif;
}

/* Start Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--topbar-height);
    background: #111;
    color: white;
    padding: 0 1rem;
}

#logo {
    height: var(--topbar-height);
    width: var(--topbar-height);
    background-image: url("../images/logo/logo.png");
    background-position: center;
    background-size: cover;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
/* End Top Bar */